body{
    display:flex;
    flex-direction: column;
}

main{
    display:flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    background-color: brown;
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color: rgb(132, 99, 99);
    
}

/* responsiveness  */
@media (max-width:580px){
    main{
        display:flex;
        flex-direction: column;
        flex: auto;

}
}